@page
@model IndexModel
@{
    string tooltipNsfw = "Prevent profane or vulgar words as much as possible.";
    string tooltipIpDuplication = "Check if Ip has already asked. Prevents spam.";
}

@section Header{
    <google-ad-sense ad-client="ca-pub-3213478567330372"></google-ad-sense>
}

<div class="content">
    <div class="container bound">
        <h1 class="heroHeader">Create a <strong class="red">question</strong> and <strong class="green">answer</strong> poll</h1>
        <div class="sub-container">
            <form method="post">
                <input class="mainInput" asp-for="@Model.Topic.Title" type="text" placeholder="Enter title of the poll..." required />
                <div>
                    <span asp-validation-for="@Model.Topic.Title"></span>
                </div>
                <div class="checkboxes subSection">
                    <div class="checkbox">
                        <input id="ipDuplication" asp-for="@Model.Topic.PreventIpDuplication" type="checkbox" />
                        <label asp-for="@Model.Topic.PreventIpDuplication" for="ipDuplication"></label>
                        <div class="tooltiphold">
                            <span class="tooltiphold image">
                                <i class="fas fa-question"></i>
                            </span>
                            <span class="tooltiptext">@tooltipIpDuplication</span>
                        </div>
                    </div>
                    <div class="checkbox">
                        <input id="nsfw" asp-for="@Model.Topic.PreventNSFW" type="checkbox" />
                        <label asp-for="@Model.Topic.PreventNSFW" for="nsfw"></label>
                        <div class="tooltiphold">
                            <span class="tooltiphold image">
                                <i class="fas fa-question"></i>
                            </span>
                            <span class="tooltiptext">@tooltipNsfw</span>
                        </div>
                    </div>
                </div>
                <button class="mainButton">Create</button>
            </form>
        </div>
        <div class="sub-container">
            <div>
                <h1 class="subHeader">Search a poll</h1>
            </div>
            <div class="subSection" id="shortcut">
                <input id="shortcutLink" class="subInput center" type="text" placeholder="Enter link..." />
                <div class="subSection">
                    <a id="executeLink" class="subButton">Go to question</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
        $("#executeLink").on('click', function () {
            var shortcutLink = $("#shortcutLink").val();
            if (shortcutLink != null)
                $("#executeLink").attr("href", "/" + shortcutLink.substring(shortcutLink.lastIndexOf("/") + 1, shortcutLink.length));
        });
    </script>
}