@page
@model IndexModel
@{
    string tooltipNsfw = "Allow user to ask profane/nsfw question/s.";
    string tooltipIpDuplication = "Check if Ip has already asked. Prevents spam.";
}

<div class="content">
    <div class="container bound">
        <h1 class="heroHeader">Create a question and answer poll</h1>
        <div class="sub-container">
            <form method="post">
                <input class="mainInput" asp-for="@Model.Topic.Title" type="text" placeholder="Enter title of the poll..." required />
                <div class="checkboxes">
                    <div class="checkbox">
                        <input id="ipDuplication" asp-for="@Model.Topic.PreventIpDuplication" type="checkbox" />
                        <label asp-for="@Model.Topic.PreventIpDuplication" for="ipDuplication">Prevent Ip Duplication</label>
                        <div class="tooltiphold">
                            <img class="tooltiphold" src="~/images/questi1on.svg" />
                            <span class="tooltiptext">@tooltipIpDuplication</span>
                        </div>
                    </div>
                    <div class="checkbox">
                        <input id="nsfw" asp-for="@Model.Topic.AllowNsfw" type="checkbox" />
                        <label asp-for="@Model.Topic.AllowNsfw" for="nsfw">Allow NSFW</label>
                        <div class="tooltiphold">
                            <img class="tooltiphold" src="~/images/quest1ion.svg" />
                            <span class="tooltiptext">@tooltipNsfw</span>
                        </div>
                    </div>
                    <div class="checkbox">
                        <input id="multipleVote" asp-for="@Model.Topic.AllowMultipleLikes" type="checkbox" />
                        <label asp-for="@Model.Topic.AllowMultipleLikes" for="multipleVote">Allow multiple votes</label>
                    </div>
                </div>
                <button class="mainButton">Create</button>
            </form>
        </div>
        <div class="sub-container">
            <div>
                <h1 class="subHeader">Ask a question</h1>
            </div>
            <div class="subSection" id="shortcut">
                <input id="shortcutLink" class="subInput center" type="text" placeholder="Enter link..." />
                <div class="subSection">
                    <a id="executeLink" class="subButton">Go to question</a>
                </div>
            </div>
            </div>
        <div class="sub-container">
            <p>Got any feedback? Feel free emailing me your suggestions</p>
            <div class="subSection">
                <a class="minorButton" href="/Contact">
                    <p class="subHeader">Contact Me</p>
                </a>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
        $("#executeLink").on('click', function () {
            var shortcutLink = $("#shortcutLink").val();
            if (shortcutLink != null)
                $("#executeLink").attr("href", "/" + shortcutLink.substring(shortcutLink.lastIndexOf("/") + 1, shortcutLink.length));
        });
    </script>
}